@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
body {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    }
    .inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
img{
  width: 100%;
}
.banner-heading{
    font-size: 4rem;
}
/* ------------Header CSS start Here----------- */
.cart-image{
  width: 20%;
}
.banner-content{
  width: 50%;
}
.banner-image{
  width: 50%;
}
.banner-image img{
  width: 100%;
}
.menu-item li a{
    margin-left: 45px;
    font-family: "Inter", sans-serif;
}

.mobile-menu {
  display: none;
}
/* -------------Plant Css Start Here ----------------- */
.plant-heading{
  font-size: 3.1rem;
}
.plant-item{
  display: grid ;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.card{
  text-align: center;
}
.card-btn {
    width: 100%;
    padding: 10px;
}
/* ------------------Media Queries Start here ----------------- */
@media only screen and (max-width: 768px) {
  .desktop-nav{
    display: none;
  }
  .mobile-menu {
  display: block;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-content{
  width: 100%;
}
.banner-image{
  width: 100%;
}
.banner{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.banner-heading,
.plant-heading{
  font-size: 1.5rem;
}
.plant-item{
  display: grid ;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
}