@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
body {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    }
    .inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.banner-heading{
    font-size: 64px;
}
/* ------------Header CSS start Here----------- */
.banner-content{
  width: 50%;
}
.banner-image{
  width: 50%;
}
.banner-image img{
  width: 100%;
}
.menu-item li a{
    margin-left: 45px;
    font-family: "Inter", sans-serif;
}

.mobile-menu {
  display: none;
}

/* ------------------Media Queries Start here ----------------- */
@media only screen and (max-width: 768px) {
  .desktop-nav{
    display: none;
  }
  .mobile-menu {
  display: block;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-content{
  width: 100%;
}
.banner-image{
  width: 100%;
}
.banner{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.banner-heading{
  font-size: 24px;
}

}